<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="static/css/estilos.css">


   <div id="espacios">
       <p></p>
       <p></p>
       <p></p>
       <p></p>
       <p></p>

   </div>
</head>

<body>
    <div id="hola">
      
    <h1 id="primero">
    Registro</h1>
</div>


<p></p>

<form class="contenedor" action="" method="post" target="_blank">
    <div class="contenedor">
    <p ><label class="title3">Nombre : <input type="text" name="usuario" class="border" placeholder="name"></label></p>
    <p ><label class="title3">Apellido : <input type="text" name="apellido" class="border" placeholder="Apellido"></label></p>
    <p><label class="title3">Correo: <input type="email" name="mail" class="border"></label></p>
   <p><label class="title3">Contraseña: <input type="password" name="password" class="border"></label></p>
    <p><label class="title3" >Confirmacion: <input type="password" name="password2" class="border"></label></p>

    <p><label class="title3" >Fecha de nacimiento: <input type="date" name="text" class="border" ></label></p>
    <p><label class="title3">Sexo: 
        <select name="cars" id="cars" class="border">
            <option value="Masculino">M</option>
            <option value="Femenino">F</option>
          </select></label></p>
    
    
    
    <p><label class="title3">Nacionalidad: <select name="cars"  class="border">
        <option value="Guatemala">GTM</option>
        <option value="Salvador">SLV</option>
        <option value="Nicaragua">NIC</option>
        <option value="Costarica">CRI</option>
        <option value="Belice">BLZ</option>
        <option value="Panama">PAN</option>
        <option value="Honduras">HND</option>
        <option value="España">ESP</option>
        <option value="ESTADOS UNIDOS">USA</option>
      </select></label></p>
 <p  class="title3"><input  type="submit" value="Enviar datos" class="rolar" class="border"></p>
</div>
  </form>



<div class="contenedor3" >

    <img src="static/img/facebook.png" class="img3" class="border">
    <img src="static/img/instagrama.png" class="img3">
    <img src="static/img/twitter.png"  class="img3">

</div>
</body>
<footer>



</footer>
